html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* element styling and 'resets' */

body {
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro', sans-serif;
    font-size: 120%;
    line-height: 1.65;
    color: #e9e3d4;
    background-color: #262626;
}

input,
textarea {
    font-family: inherit;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    color: #eeba2b;
    padding: 0 0 1rem 0;
}

p {
    margin: 0;
    padding: 0 0 1rem 0;
}

a {
    text-decoration-color: #eeba2b;
    text-decoration-thickness: 2px;
    color: #eeba2b;
    ;
}

a:visited{
    text-decoration-color: #ebcd7c;
    text-decoration-thickness: 2px;
    color: #ebcd7c;
}

/* flexible content images */

img {
    max-width: 100%;
    height: auto;
}

section {
    max-width: 65ch;
    margin: 3rem auto 3rem auto;
    padding: 1rem;
}

section.embedded-content {
    text-align: center;
}

section iframe {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

section h2 {
    line-height: 1.2;
    padding: 0 0 1rem 0;
    color: #fdd86b;
}

.page-header {
    background-image: url(../images/bgImage.png);
    background-blend-mode: screen;
    background-size: cover;
    display: flex;
    min-height: 55vh; /*reduced min height*/
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;

}

.page-header h1 {
    line-height: 1;
}

.header-content p {
    font-size: 1.2rem;
}

.page-footer {
    background: #262626;
    text-align: center;
    border-top: solid 2px #7e7e7e;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 70px 15px 70px 15px;
}

.footer-content {
    color: #F5FFC6;
}

.footer-separator {
    color: #8DA7BE;
}

.footer-content a {
    color: #fff;
}

form textarea {
    font-size: 1.4rem;
    padding: 5px;
    border-radius: 0.2em;
    border: 1px solid #ccc;
    max-width: 100%;
    min-width: 80%;
}

/*My CSS*/

form input[type="radio"] {
    font-size: 1.4rem;
    padding: 5px;
    border: 1px solid #ccc;
} 

button {
    font-family: 'Readex Pro', sans-serif;
    font-size: 90%;
    width: 10rem;
    color: #0A122A;
    border: none;
    align-self: center; 
}


/*Navigation bar classes*/

/*Nav menu at top*/
.navBarContainer {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #eeba2b;
    text-align: center;
}

/*Nav menu on scroll*/
.navBarContainerFixed {
    position: fixed;
    top: 0;
    width: 15vw;
    min-width: 10rem;
    margin: 0;
    padding: 3vh 0 90vh 0;
    background-color: #eeba2b;
    text-align: right;
    display: block;
}

.navButton {
    background-color: #eeba2b;      
    padding: 1rem 2rem;
    border-bottom:1px solid #ff3c3c00;
}

.navButton:hover {
    cursor: pointer;
    background-color: #ce313177;
    border-bottom:1px solid #0A122A;
}

.topScrollHidden {
    display: none;
}

.topScroll {
    background-color: #eeba2b;
}

.topScroll:hover {
    cursor: pointer;
}

.mobileNavMenu {
    display: none;  
}

/*Non-navigation buttons*/

.buttonSecondary {
    background-color: #eeba2b;
    border-bottom: 1px solid #472020;
    padding: 0.5rem 1rem;
}

.buttonSecondary:hover {
    background-color: #f2c03685;
    border-bottom: 1px solid #472020;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/*containers*/

.interactiveContainer {
    text-align: center;
}

.questionContainer {
    text-align: left;
    margin-left: 12vw;
}

.imageContainer {
    text-align: center;
}

/*Responsive CSS*/
/*Tablet view*/
@media screen and (max-width: 1080px) and (min-width: 600px) {
    
    section{
        margin-left: 10rem;
    }
}

/*Mobile view*/
@media screen and (max-width: 600px) {

    .section1 {
        margin: 0 auto 5rem auto;
    }

    .topScroll{
        display: inline-flex;
        margin-right: 65vw;
        padding: 0.5rem;
        text-align: right;
        max-width: 64px;
    }

    .navButton {
        display: none;
    }

    .navButtonMobile {
        margin: 0.5rem 30vw;
        background-color: #ff3c3c00;      
        padding: 0;
        border-bottom:none;
        opacity: 1;
	    animation-name: navFadeIn;
	    animation-iteration-count: 1;
	    animation-timing-function: ease-in;
	    animation-duration: 300ms;
    }
    
    .navBarContainerFixed {
        position: fixed;
        width: 100vw;
        max-width: 100vw;
        margin: 0;
        padding: 0;
        background-color: #eeba2b;
        text-align: center;
    }

    .mobileNavMenu {
        display: inline-flex;
        text-align: left;
        background-image: url(.../images/hamburgerIcon.png);  
        background-color: #eeba2b;
        padding: 0.5rem;
        width: 4rem;
        border-bottom: 1px solid #ff3c3c00;
    }

    @keyframes navFadeIn {
        0% { 
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

}